{% extends "layout.html" %}
{% block content %}
    {% for row in animaux %}
    <!-- Start Column -->
    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="{{ url_for('view_animal', animal_id=row['id']) }}">
            <h2 class="product-title">{{ row['espece'] }}</h2>
            <h3 class="product-title">Race: {{ row['race'] }}</h3>
            <h3 class="product-title">Adresse: {{ row['adresse'] }}</h3>
            <strong class="product-price">Nom: {{ row['nom'] }}</strong>
            <span class="icon-cross">
                <img src="images/cross.svg" class="img-fluid">
            </span>
        </a>
    </div> 
    {% endfor %}
{% endblock %}