{% extends "layout.html" %}
{% block content %}
    <h2>Résultats de la Recherche pour {{ espece_recherchee }}</h2>
    <div class="product-section">
    <div class="container">
        <div class="row">
            {% for row in animaux %}
            <!-- Start Column -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="{{ url_for('view_animal', animal_id=row['id']) }}">
                    <h2><strong class="product-price">Nom: {{ row['nom'] }}</strong></h2>
                    <p><strong class="product-price"></strong>Description: {{ row['description'] }}</strong></p>
                    <span class="icon-cross">
                        <img src="images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div> 
            {% endfor %}
            <!-- End Column -->
        </div>
    </div>
</div>
{% endblock %}